# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
PlatformIO/test/README
PlatformIO/lib/README
PlatformIO/lib/qmath/utest/CMakeLists.txt
PlatformIO/.vscode/extensions.json
PlatformIO/lib/qmath/CMakeLists.txt
PlatformIO/lib/qmath/Recipes
PlatformIO/lib/qmath/utest/test_qmath.cc
